<h1>
  Restaurant #<%= @restaurant.id %> details
</h1>

<div>
  <div>
    <a href="/restaurants">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_restaurant_form/<%= @restaurant.id %>">
      Edit restaurant
    </a>
  </div>

  <div>
    <a href="/delete_restaurant/<%= @restaurant.id %>">
      Delete restaurant
    </a>
  </div>
</div>

<dl>
  <dt>
    Address
  </dt>
  <dd>
    <%= @restaurant.address %>
  </dd>

  <dt>
    Cuisine
  </dt>
  <dd>
    <%= @restaurant.cuisine %>
  </dd>
  
  <dt>
    Likes Count
  </dt>
  <dd>
    <%= @restaurant.likes.count %>
  </dd>
</dl>

<table>
  <tr>
    <th>
      Comment
    </th>

    <th>
      Author
    </th>

    <th>
      Date
    </th>
  </tr>

  <% @restaurant.comments.each do |a_comment| %>
  <tr>
    <td>
      <%= a_comment.caption %>
    </td>

    <td>
      <%= a_comment.author.at(0).username %>
    </td>

    <td>
      <%= time_ago_in_words(a_comment.created_at) %>
    </td>
  </tr>
  <% end %>
</table>

  <div>
    <a href="/insert_like/<%= @restaurant.id %>">
      Like this restaurant
    </a>
  </div>
