<h1>
  Restaurant list
</h1>

<a href="/new_restaurant_form">
  Add a new restaurant
</a>

<hr>

<table>
  <tr>
    <th>
      Name
    </th>

    <th>
      Address
    </th>

    <th>
      Cuisine
    </th>

    <th>
      Likes
    </th>

    <th>
      Comments
    </th>

    <th>
    </th>
  </tr>

  <% @restaurants.each do |restaurant| %>
  <tr>
    <td>
      <%= restaurant.name %>
    </td>

    <td>
      <%= restaurant.address %>
    </td>

    <td>
      <%= restaurant.cuisine %>
    </td>

    <td>
      <%= restaurant.likes.count %> likes
    </td>

    <td>
      <%= restaurant.comments.count %> comments
    </td>

    <td>
      <a href="/restaurants/<%= restaurant.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
